<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
      <add key="maxFlyableWindSpeed" value="3,0" />
      <add key="minWindDirection" value="0,0" />
      <add key="maxWindDirection" value="360,0" />
      <add key="flyableTemperatureMin" value="-5,0" />
      <add key="includeFoggyPeriods" value="true" />
      <add key="gmailFromAddress" value="" />
      <add key="gmailPassword" value="" />
      <add key="mailToAddress" value="" />
    </appSettings>
</configuration>