@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>This service uses yr.no to parse flyable hours within the next 48 hours.</p>
<p>Some locations that yr.no forecast have forecasts for every hour, other locations have forcast for several hours. Each forecasted block of one or more hours is called a period here at Fly time.</p>
<p>Flyable hours requires sunlight at some time during the period and no precipitation (rain/snow). You may also choose to limit what makes an hour flyable by fog, windspeed and temperature. Fly Time now also understands the concept of <a href="http://en.wikipedia.org/wiki/Midnight_sun">Polar Day (Midnight sun)</a> and <a href="http://en.wikipedia.org/wiki/Polar_night">Polar Night</a> so you get flyable hours for locations within the polar circles as well.</p>
<p>The Slopes page lists some model flying slopes that I found on the Internet and their forecasted flying hours for a location as near as possible, as well as on allowed winddirection for the slope.</p>
<p>The weather data from <a href="http://www.yr.no">yr.no</a> is cached on the server for 10 minutes to comply with the terms and conditions of yr.no weather data.</p>
